form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  form label {
    margin-top: 10px;
    display: block;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  form textarea {
    resize: vertical;
    height: 100px;
  }
  
  form button {
    background-color: #e5b356;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  form button:hover {
    background-color: green;
  }
  