.fund-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .fund-card:hover {
    transform: translateY(-5px);
  }
  
  .fund-card h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .fund-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .fund-card button {
    background-color: #e5b356;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .donate-button:hover {
    background-color: green;
  }
  

  
  .close-button:hover {
    background-color: #c82333;
  }
  